@using Microsoft.AspNetCore.Identity
@using Tomasos.Data
@model Tomasos.Models.CartViewModels.CartViewModel
@inject UserManager<ApplicationUser> userManager

<div class="text-center">
    <h3>Your cart</h3>
</div>
<div class="my-2 container">
    @if (@Model.NumberOfItems == 0)
    {
        <div class="my-2 container">
            <div class="row justify-content-center">
                <div class="col text-center">
                    Your cart is currently empty.
                </div>
                <br />
            </div>
        </div>
    }
    @foreach (var dish in Model.Dishes)
    {
        <div class="row justify-content-between">
            <div class="col-9">
                @(dish.Quantity + "x " + @dish.Name)
            </div>
            <div class="col">
                <a asp-action="Remove"
                   asp-controller="Cart"
                   asp-route-id="@dish.DishId"
                   data-ajax="true"
                   data-ajax-method="GET"
                   data-ajax-mode="replace"
                   data-ajax-update="#cart-order">
                    <i class="material-icons d-inline-block">
                        remove_circle
                    </i>
                </a>
            </div>
            <br />
        </div>
    }
    @if (Model.BonusPoints >= 100)
    {
        <div class="row justify-content-between">
            <div class="col-9 text-success">
                @(Model.BonusPoints / 100) x FREE Margherita(s)!
            </div>
            <div class="col">
            </div>
            <br />
        </div>
    }
</div>
<div class="cart-total container my-2">
    <div class="row justify-content-between">
        <div class="col-9">Total:</div>
        <div class="col">@Model.TotalPrice kr</div>
    </div>
    @if ((userManager.GetUserAsync(User)).Result.IsPremium)
    {

        <div class="row justify-content-between">
            <div class="col-9 text-danger">Premium price (-20%):</div>
            <div class="col text-danger">@Model.PremiumPrice kr</div>
        </div>

        if (Model.NumberOfItems >= 3)
        {
            <div class="row justify-content-between">
                <div class="col-12 text-primary">
                    Premium Exclusive! Buy 3, get one off!
                </div>
            </div>
        }

        <div class="row justify-content-between">
            <div class="col-9 text-success">Bonuspoints: </div>
            <div class="col text-success">@Model.BonusPoints</div>
        </div>
        <div class="row justify-content-between">
            <div class="col-12 text-success">
                <br />
                Recieve a free Margherita when you reach a hundred bonus points!
            </div>
        </div>
    }
</div>
<div class="text-center">
        <a class="btn btn-lg btn-primary btn-block"
           asp-controller="Cart"
           asp-action="Order">Buy</a>
</div>



