@model Tomasos.Models.CartViewModels.MenuViewModel
@{
    ViewData["Title"] = "Menu";
}
<div class="main">
    <section class="column-menu mt-3">
        <h1 class="text-center display-4">Pizza</h1>
        <ul class="list-group list-group-flush">
            @foreach (var pizza in Model.Pizzas)
            {
                <li class="list-group-item vertical-center-li justify-content-between">
                    <div class="align-content-start">
                        <h3>@pizza.Name</h3>
                        @pizza.IngredientsString
                    </div>
                    <div class="align-content-end">
                        <span class="align-content-end">
                            @pizza.Price kr &nbsp;
                            <a asp-action="CartDetails"
                               asp-controller="Cart"
                               asp-route-id="@pizza.DishId"
                               data-ajax="true"
                               data-ajax-method="GET"
                               data-ajax-mode="replace"
                               data-ajax-update="#cart-order">

                                <i class="material-icons">
                                    add_shopping_cart
                                </i>
                            </a>
                        </span>
                    </div>
                </li>
            }
        </ul>


        <br />
        <br />
        <h1 class="text-center display-4">Sallad</h1>
        <ul class="list-group list-group-flush">
            @foreach (var sallad in Model.Sallads)
            {
                <li class="list-group-item vertical-center-li justify-content-between">
                    <div class="align-content-start">
                        <h3>@sallad.Name</h3>
                        @sallad.IngredientsString
                    </div>
                    <div class="align-content-end">
                        <span class="align-content-end">
                            @sallad.Price kr &nbsp;
                            <a asp-action="CartDetails"
                               asp-controller="Cart"
                               asp-route-id="@sallad.DishId"
                               data-ajax="true"
                               data-ajax-method="GET"
                               data-ajax-mode="replace"
                               data-ajax-update="#cart-order">

                                <i class="material-icons">
                                    add_shopping_cart
                                </i>
                            </a>
                        </span>
                    </div>
                </li>
            }
        </ul>

        <br />
        <br />
        <h1 class="text-center display-4">Pasta</h1>
        <ul class="list-group list-group-flush">
            @foreach (var pasta in Model.Pasta)
            {
                <li class="list-group-item vertical-center-li justify-content-between">
                    <div class="align-content-start">
                        <h3>@pasta.Name</h3>
                        @pasta.IngredientsString
                    </div>
                    <div class="align-content-end">
                        <span class="align-content-end">
                            @pasta.Price kr &nbsp;
                            <a asp-action="CartDetails"
                               asp-controller="Cart"
                               asp-route-id="@pasta.DishId"
                               data-ajax="true"
                               data-ajax-method="GET"
                               data-ajax-mode="replace"
                               data-ajax-update="#cart-order">

                                <i class="material-icons">
                                    add_shopping_cart
                                </i>
                            </a>
                        </span>
                    </div>
                </li>
            }
        </ul>
    </section>
    <section class="column-right">
        <div id="cart-order" class="cart-container">
            <div class="text-center">
                <h3>Your cart</h3>
            </div>
            <div class="my-2 container">
                <div class="row justify-content-center">
                    <div class="col text-center">
                        Your cart is currently empty.
                    </div>
                    <br />
                </div>
            </div>
            <div class="cart-total container my-2">
                <div class="row justify-content-between">
                    <div class="col-9">Total:</div>
                    <div class="col">0 kr</div>
                </div>
            </div>

            <div class="text-center">
                <a class="btn btn-lg btn-primary btn-block disabled" aria-disabled="true">Buy</a>
            </div>
        </div>
    </section>
</div>